
.navbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black !important;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

li{
    cursor: pointer;
    border-bottom: 2px white;
    padding: 5px;
    
}

.imagenVixion{
    width: 65%;
    height: 65%;
    border-radius: 15px;
    border-style: groove;
    border-color: white;
}